* {
  background-color: #BAA68B;
}


.mainMap{
  height: 100%;
  width: 100%;
}

.pin {
  height: 50px;
  opacity: 0.5;
  position: absolute;
  width:50px;
  transform: translateX(50%,50%);
  z-index: 100;
}

.hideIcon {
  visibility: hidden;
}

.hideNote {
  visibility: hidden;
}

.textBox {
  position: absolute;
  z-index: 100;
}
